* { margin:0; padding:0; box-sizing: border-box; }

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	padding: 20px;
}
header {
	text-align:center;
	margin-top: .5em;
}
h1 {
	font-size: 1.5em;
	color: black;
	text-shadow: 1px 0px gray;
}
h2 {
	font-size: 1.25em;
}
p {
	padding: .5em 0;
	font-family: 'Open Sans', sans-serif;
}
section {
	padding: 1em;
}
.body-wrapper {
	max-width: 875px;
	margin: 0 auto;
}
section.columns {
	background-color: rgba(232, 169, 205, .5);
	float: left;
	width: 49%;
	box-shadow: 0 0 5px black;
	float: left;
	margin-top: 1em;
}
section.columns:first-child {
	margin-right: 2%;
}
section#featured-product {
	background-image: url('images/earrings2.JPG');
	width: 100%;
	height: 350px;
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 2.5px black;
}
#featured-product p {
	text-align: left;
	font-weight: bold;
	line-height: 1em;
}
section#just-added {
	width: 100%;
	padding: 0;
}
section#shop-all-jewelry {
	width: 100%;
	padding: 0;
}
#just-added h1 {
	position: relative;
	height: 400;
	top: 1.5em;
	left: 1em;
}
#just-added img {
	width: 100%;
	box-shadow: 0 0 5px black;
}
#shop-all-jewelry h1 {
	position: relative;
	height: 400;
	top: 1.5em;
	left: 1em;
}
#shop-all-jewelry img {
	width: 100%;
	max-height: 400px;
	box-shadow: 0 0 5px black;
}
#logo {
	margin: 0 auto;
	width: 60%;
	max-width: 648px;
	min-width: 200px;
}
.product-cat {
	width: 100%;
	margin: 1em auto 2em auto;
	padding: 0;
	display: block;
}
.product-cat h1 {
	margin-bottom: .5em;
}
.product-previews {
	width: 300px;
	margin-right: .5%;
	float: left;
	display: inline-block;
}
.product-previews img {
	margin: 0;
	width: 100%;
	float: left;
}
a {
	text-decoration: none;
	color: black;
}
h1 a {
	text-decoration: underline;
}
.p-link {
	font-family: 'Open Sans Condensed', sans-serif;
}
ul {
    list-style-type: none;
    padding-left:0;
}
#social-nav {
	position: relative;
	top: 20px;
	display: inline-block;
	float: right;
}
nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 3em;
}
nav a {
    text-decoration: none;
    color: rgb(217, 217, 217);
    padding: .5em 3.5em;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    background-color: black;
}
nav a:hover {
	color: #E9158E;
}
nav img {
	position: relative;
	top: 6px;
}
footer {
	font-family: 'Open Sans', sans-serif;
	text-align: center; 
	margin: 1em 0;
}
footer a {
	padding: 1em 2em;
}

/*font-family: 'Playfair Display', serif;

font-family: 'Open Sans Condensed', sans-serif;

font-family: 'Open Sans', sans-serif;*/
