* { margin:0; padding:0; box-sizing: border-box;}

body {
	background-color: white;
	color: #222;
	font-family: "Playfair Display", serif;
	font-size: 18px;
	padding: 1em;
}
header {
	text-align:center;
	margin: 2em 0 0;
}
header h1 {
	font-family: 'Cinzel', serif;
	font-size: 3em;
}
h2 {
	padding-bottom: .25em;
	font-size: 1.35em;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #5A8B8B;
}
p {
	padding-bottom: 1em;
}

nav, footer {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	text-transform: uppercase;
	margin: 2.5em auto;
}
nav a {
	text-decoration: none;
	color: #5A8B8B;
	font-weight: 700;
	padding: .3em 2em;
	margin: 0 .5em;
	border: double black 6px;
	display: inline-block;
}
nav a:hover {
	background-color: #5A8B8B;
	color: white;
}
.content {
	text-align: left;
	padding: 2em;
	margin: 1em 1%;
	width: 48%;
	background: #fff;
	border: 1px solid #ddd;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	float: left;
}
#feature-image {
	margin: 0 1%;
}
#feature-image img {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #ddd;
	padding: 1%;
}
.socialize {
	list-style-type: none;
	margin: 2em 0 1em 0;
	text-align:center;
}
.socialize a {
	padding: 0 .25em;
}
.wrapper {
	max-width:60em;
	margin:auto;
}
.gallery {
	float: left;
	margin-right: .5em;
	margin-top: 1em;
	display: inline-block;
	width: 32.5%;
	min-width: 320px;
}
.gallery img {
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
}
.gallery-box {
	padding: 0;
	margin: 1em auto;
	width: 100%;
	display: block;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
footer {
	color: #222;
	clear: both;
}
@media only screen and (max-width: 908px) {
	header h1 {
		font-size: 2.5em;
	}
	nav {
		margin: 2em auto;
	}
}
@media only screen and (max-width: 763px) {
	header h1 {
		font-size: 2.25em;
	}
	.content {
	width: 98%;
	float: none;
	padding: 1em;
	}
}
@media only screen and (max-width: 692px) {
	header {
		margin-top: 1em;
	}
	header h1 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 600px) {
	header {
		margin: .5em auto;
	}
	header h1 {
		font-size: 1.75em;
	}
	nav, img {
		margin: 0 auto;
	}
	nav a {
		display: block;
		margin: .25em .5em;
	}
	#feature-image {
		max-width: 100%; 
	}
	.content h2{
		font-size: 1em;
	}
	.content p{
		font-size: .8em;
	}
	footer {
		margin: 0 auto;
	}
}
